*{
    margin: 0;
    padding: 0;
}
#logo-consultorio{
    color: blue;
    margin-right: 100px;
}
#barra-de-navegacion{
    display: flex;
    background-color: white;
    box-shadow: 10px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
#btn-asignar-cita{
    background: none;
    border: 0;
    color: grey;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
#btn-asignar-cita:hover{
    background-color: blue;
    color: white;
}
#btn-consultar-medico{
    background: none;
    border: 0;
    color: grey;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
#btn-consultar-medico:hover{
    background-color: blue;
    color: white;
}
#btn-consultar-paciente{
    background: none;
    border: 0;
    color: grey;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
#btn-consultar-paciente:hover{
    background-color: blue;
    color: white;
}
#btn-horas-medico{
    background: none;
    border: 0;
    color: grey;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
#btn-horas-medico:hover{
    background-color: blue;
    color: white;
}
#btn-salir{
    margin-left: 540px;
    background: none;
    border: 0;
    color: white;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    background-color: red;
    margin-top: 4px;

}
#contenedor-buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 40px;
    background-color: white;
    padding: 0;
    margin-top: 50px;
    border-radius: 50px;
    padding-bottom: 451px;
    box-shadow: 1px 2px 20px 10px rgba(0, 0, 0, 0.2);

}
#texto-buscar-por-id{
    margin-right: 10px;
    margin-top: 10px;

}
#buscador{
    margin-top: 10px;
    z-index: 1000;
}
#tabla-citas{
    position: absolute;
    margin-top: 300px;
    text-align: center;
    align-items: center;
}
#lista-citas .td{
    position: absolute;
    margin-top: 10px;
    padding: 50px;
    text-align: center;
    align-items: center;
}
#texto-fecha-soli{
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
#btn-buscar{
    background: none;
    background-color: #1A73C0;
    border: 0;
    color: white;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 7px;
    font-size: 10px;
    
}
#contenedor-formulario{
    display: flex;
    position: absolute;
    margin-top: 400px;
    margin-left: -740px;
    flex-wrap: wrap;
}
#btn-actualizar{
    background: none;
    background-color: #1A73C0;
    border: 0;
    color: white;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -1px;
    margin-left: 7px;
    font-size: 10px;
}
#contenedor-formulario>input{
    height: 0.9rem;
    width: 3.0rem;
}
