* {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
    overflow: hidden;
    background-image: url("/imagenes/imagenDoctores.jpg");
}


#adn-uno {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("/imagenes/adnSinFondo.png");
    background-size: 10vh 48vw;
    animation: animate 25s linear infinite;
    z-index: 1;
    animation-delay: 0s;
    bottom: 0;
    background-repeat: repeat-y;
    display: flex;


}

@keyframes animate {
    0% {
        background-position-y: 10px;
    }

    100% {
        background-position-y: 990px;
    }

}

#adn-dos {
    position: absolute;
    left: 50px;
    width: 100%;
    height: 100%;
    background: url("/imagenes/adnSinFondo.png");
    background-size: 10vh 48vw;
    animation: animateDos 25s linear infinite;
    z-index: 2;
    animation-delay: 0s;
    bottom: 0;
    background-repeat: repeat-y;


}

@keyframes animateDos {
    0% {
        background-position-y: -10px;
    }

    100% {
        background-position-y: -990px;
    }
}

#adn-tres {
    position: absolute;
    left: 100px;
    width: 100%;
    height: 100%;
    background: url("/imagenes/adnSinFondo.png");
    background-size: 10vh 48vw;
    animation: animateTres 25s linear infinite;
    z-index: 3;
    animation-delay: 0s;
    bottom: 0;
    background-repeat: repeat-y;


}

@keyframes animateTres {
    0% {
        background-position-y: 10px;
    }

    100% {
        background-position-y: 990px;
    }

}

#contenedor-login {
    position: absolute;
    background-color: white;
    padding-left: 100px;
    padding-right: 24px;
    right: 0;
    top: 0;
    padding-bottom: 93px;
    border-radius: 50px;
    box-shadow: 1px 2px 20px 10px rgba(0, 0, 0, 0.2);
    z-index: 4;
}

#formulario {
    text-align: center;
    align-items: center;
    margin: 146px;
    color: black;
    z-index: 5;
    padding-right: 20px;
    

}

input {
    border: solid 0;
    border-bottom: solid 1px;
    z-index: 6;
    text-align: left;

}

input:focus {
    border-bottom: solid 1px blue;
    outline: none;
}

#boton-registrate {
    background: none;
    background-color: #1A73C0;
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
#boton-ingresar {
    background: none;
    background-color: #1A73C0;
    border: 0;
    color: white;
    padding: 9px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}
#input-correo{
    margin-bottom: 20px;
}
