*{
    margin: 0;
    padding: 0;
}
#logo-consultorio{
    color: blue;
    margin-right: 100px;
    z-index: 3;
}
#barra-de-navegacion{
    display: flex;
    background-color: white;
    box-shadow: 10px 2px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;

}
#btn-asignar-cita{
    background: none;
    border: 0;
    color: grey;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding-bottom: 16px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;

}
#btn-asignar-cita:hover{
    background-color: blue;
    color: white;
}
#btn-consultar-medico{
    background: none;
    border: 0;
    color: grey;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding-bottom: 16px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;

}
#btn-consultar-medico:hover{
    background-color: blue;
    color: white;
}
#btn-consultar-paciente{
    background: none;
    border: 0;
    color: grey;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding-bottom: 16px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;

}
#btn-consultar-paciente:hover{
    background-color: blue;
    color: white;
}
#btn-horas-medico{
    background: none;
    border: 0;
    color: grey;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding-bottom: 16px;
    padding-top: 12px;
    padding-left: 10px;
    padding-right: 10px;

}
#btn-horas-medico:hover{
    background-color: blue;
    color: white;
}
#btn-salir{
    margin-left: 540px;
    background: none;
    border: 0;
    color: white;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    background-color: red;
    margin-top: 7px;

}
#contenedor-tabla-de-formulario{
    display: flex;
    background-color: white;
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 38%;
    top: 100px;
    box-shadow: 1px 2px 20px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;


}
#formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 40px;

    
}
input{
    border: solid 0;
    border-bottom: solid 1px;
    z-index: 1;
    text-align: left;
    margin-bottom: 10px;

}
input:focus {
    border-bottom: solid 1px blue;
    outline: none;
}
#btnAsignar{
    background: none;
    background-color: #1A73C0;
    border: 0;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
