*{
    margin: 0;
    padding: 0;
}
#logo-consultorio{
    color: blue;
    margin-right: 100px;
}
#barra-de-navegacion{
    display: flex;
    background-color: white;
    box-shadow: 10px 2px 10px 0px rgba(0, 0, 0, 0.2);
}
#btn-asignar-cita{
    background: none;
    border: 0;
    color: grey;
    font: inherit;
    line-height: normal;
    overflow: visible;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
#btn-asignar-cita:hover{
    background-color: blue;
    color: white;
}
#btn-consultar-medico{
    background: none;
    border: 0;
    color: grey;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
#btn-consultar-medico:hover{
    background-color: blue;
    color: white;
}
#btn-consultar-paciente{
    background: none;
    border: 0;
    color: grey;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
#btn-consultar-paciente:hover{
    background-color: blue;
    color: white;
}
#btn-horas-medico{
    background: none;
    border: 0;
    color: grey;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
}
#btn-horas-medico:hover{
    background-color: blue;
    color: white;
}
#btn-salir{
    margin-left: 540px;
    background: none;
    border: 0;
    color: white;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    background-color: red;
    margin-top: 4px;

}
